<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="https://proton.me/"/>
    <add key="DraftPage_URL" value="https://mail.proton.me/u/0/drafts"/>
    <add key="username" value="vitaktoriia@proton.me"/>
    <add key="password" value="V_1234567*"/>
    <add key="Browser" value="Chrome"/>
  </appSettings>
</configuration>